/**
 * Copyright 2019-2020, 2022 Camil Staps.
 *
 * This file is part of convertprofile.
 *
 * Convertprofile is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, version 3 of the License.
 *
 * Convertprofile is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with convertprofile. If not, see <https://www.gnu.org/licenses/>.
 */

body {
	font-family: sans-serif;
}

.function {
	font-family: monospace;
}

.toggler {
	cursor: pointer;
}

.progress {
	background-color: #e0e0e0;
	border: 1px solid #6cb4ef;
	box-sizing: border-box;
	display: inline-block;
	height: 1.2em;
	position: relative;
	width: 12em;
}

.progress::before {
	content: attr(title);
	font-size: 80%;
	left: 0;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

.progress .bar {
	background-color: #6cb4ef;
	display: inline-block;
	height: 100%;
}

.entry {
	clear: both;
}

.entry::after {
	clear: both;
	content: '';
	display: table;
}

.entry > .entry {
	background-color: rgba(0,0,0,0.05);
	margin-left: 1em;
}

.entry-header {
	margin-bottom: 1px;
	width: 100%;
}

.entry-header:hover {
	background-color: #ee8;
}

.entry-header > * {
	float: right;
	margin-left: 1ex;
}

.entry-content, .toggler {
	float: left;
}

.entry-data {
	text-align: right;
	width: 7em;
}

.header > * {
	float: right;
	font-weight: bold;
	margin-left: 1ex;
}

.header > *:first-child {
	float: left;
	text-align: left;
}

.progress-header {
	width: 12em;
}
